.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--mantine-color-green-1);
  transition: all 0.2s ease;
  border: none;
  box-shadow: none;
}

.toggleButton:hover {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-green-4);
  transform: scale(1.05);
}

.toggleButton:active {
  transform: scale(0.95);
}
