/* Header styles */
.header {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
}

.logo {
  gap: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-md);
}

.logoCollapsed {
  justify-content: center;
  margin-bottom: var(--mantine-spacing-xl);
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:hover {
  transform: scale(1.02);
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: -0.25px;
}

.sectionIndicator {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-xs);
  margin: var(--mantine-spacing-xs) 0;
  background-color: var(--mantine-color-dark-8);
  color: var(--mantine-color-green-2);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-green-9);
}

/* Section Toggle Button */
.sectionToggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  margin: var(--mantine-spacing-md) auto;
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border: 1px solid var(--mantine-color-green-5);
  color: var(--mantine-color-green-2);
  transition: all 0.2s ease;
}

.sectionToggleButton:hover {
  background-color: var(--mantine-color-green-9);
  color: var(--mantine-color-green-0);
  border-color: var(--mantine-color-green-7);
  box-shadow: 0 0 5px var(--mantine-color-green-5);
}

.sectionToggleButton .linkIcon {
  color: inherit;
  margin-right: 0;
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
  transition: color 0.2s ease;
  flex-shrink: 0;
}
