.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  color: var(--mantine-color-green-5);
  font-family: var(--mantine-font-family-monospace);
}

.controls {
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 100%;
}

.search {
  max-width: 400px;
  flex-grow: 1;
}

.createButton {
  background-color: var(--mantine-color-green-7);
  &:hover {
    background-color: var(--mantine-color-green-8);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .controls {
    flex-direction: column;
  }
}
